<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    
<div class="container">
      <h2>Post New Assignment</h2>
      <form method="POST">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" name="title" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea
            class="form-control"
            name="description"
            rows="4"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Due Date</label>
          <input
            type="datetime-local"
            class="form-control"
            name="due_date"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Post Assignment</button>
        <a href="{{ url_for('teacher_dashboard') }}" class="btn btn-secondary"
          >Back</a
        >
      </form>
    </div>




    <script>
  let timer;
  function resetTimer() {
    clearTimeout(timer);
    timer = setTimeout(() => {
      window.location.href = '/login';
    }, 30000);
  }
  ['click', 'mousemove', 'keydown', 'scroll', 'touchstart'].forEach(evt => {
    document.addEventListener(evt, resetTimer, false);
  });
  resetTimer();
  </script>
</body>
</html>