<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/dist/css/bootstrap.css">
    <script src="../static/dist/js/bootstrap.js"></script>
</head>
<body>
    <h1 class="text-center tev=xt-info">Welcome to Login page</h1>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 card shadow  p-4">
            <form action="/login" method="POST">
                <h4 class="text-center text-success">{{message}}</h4>
                <label >Email address: </label><br>
                <input type="email" required placeholder="Enter email " class="form-control" name="email"><br>

                <label for="">passowrd: </label><br>
                <input type="password" required placeholder="Enter passowrd" class="form-control" name="password"><br>

                <input type="submit" value="log in "  >

                <br>

                <p>Don't have an account? <a href="/register">Register</a> </p>
            </form>
        </div>
        <div class="col-md-4"></div>
        
    </div>
    
</body>
</html>