<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SD</title>
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
</head>
<body>
    <h2 class="text-bold text text-center text-success">Welcome to student dashboard
        
    </h2>
    <p class="text-danger text-center"> Wasap,  {{name}}</p>

    <form  action="{{ url_for('student_assignments') }}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary text-center">View Assignments</button>
    </form>
    <a href="/logout" class="btn btn-danger">Logout</a>
</body>
</html>