
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h2 class="text-center text-danger bg-info p-3">Welcome to the Teacher's Dashboard</h2>
      <h3 class="text-end text-primary">Hello, {{ name }}</h3>
      

      <a href="{{ url_for('create_assignment') }}" class="btn btn-outline-warning">Post New Assignment</a>

        <h4>Your Assignments</h4>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Posted At</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in assignments %}
          <tr>
            <td>{{ assignment[0] }}</td>
            <td>{{ assignment[1] }}</td>
            <td>{{ assignment[2] }}</td>
            <td>{{ assignment[3] }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="4">No assignments posted yet.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
  </body>
</html>
